/*resetter*/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /*---------------------------colors--------------------*/
  /*neutral */

  --lightneutral1: #f9f9f9;
  --lightneutral2: #efefef;
  --darkneutral: #261b27;
  /*hero color*/
  --hero1: #013480;
  --hero12: #023b91;
  --hero2: #343d7e;

  /*accent*/
  --accent1: #f3233f;
  --accent2: #ff8d9f;

  /*main*/
  --main_bg: var(--lightneutral1);
  --darkmode_bg: var(--darkneutral);
  --text-color-dark: var(--darkneutral);
  --text-color-light: var(--lightneutral2);
  --header-color: #efefefb0;

  /*shadow*/
  --shadows: var(--shadows);
}
/*generel*/
img {
  width: 100%;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--text-color-dark);
}

section {
  margin: 0 auto;
}

/*fonts*/
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4.2rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.15rem;
  color: var(--darkneutral);
}

h3 {
  font-size: 2.1rem;
}

p {
  margin: 0.5rem auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/*buttons and ui*/
button {
  background: #f3233f;
  background-image: -webkit-linear-gradient(top, #ff8d9f, #f3233f);
  background-image: -moz-linear-gradient(top, #ff8d9f, #f3233f);
  background-image: -ms-linear-gradient(top, #ff8d9f, #f3233f);
  background-image: -o-linear-gradient(top, #ff8d9f, #f3233f);
  background-image: -webkit-gradient(to bottom, #ff8d9f, 10% #f3233f);
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  border-radius: 20rem;

  color: #ffffff;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 35px;
  -webkit-box-shadow: 0 6px 6px 0 var(--shadows);
  -moz-box-shadow: 0 6px 6px 0 var(--shadows);
  box-shadow: 0 6px 6px 0 var(--shadows);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: 0.8s;
  margin: 2rem 2rem 0rem 2rem;
  border: none;
}

button:hover {
  background: #f3233f;
  box-shadow: inset 0px 2px 5px var(--shadows);
  -webkit-box-shadow: inset 0 6px 6px 0 var(--shadows);
  -moz-box-shadow: inset 0 6px 6px 0 var(--shadows);
  box-shadow: inset 0 6px 6px 0 var(--shadows);
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  border-radius: 20rem;
  text-decoration: none;
  transform: scale(0.99);
}

/* ------------------------------Header og Nav------------------------------------  */

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  position: relative;
  z-index: 1;
  padding: 1rem;
  color: var(--hero1);
}

nav {
  position: absolute;
  height: 100%;
  display: grid;

  right: 1vw;
}

/* Burger menu */

/* Menuen er der stadig, men den er usynling */
/* Ved transform er den ude til venstre, dvs. hvis man fjerne transform og opacity, er de der stadig */
.hidden {
  opacity: 0;
  transform: translateX(100%);
  overflow: hidden;
}

#menuknap {
  display: inline-block;
  font-size: 3rem;
  text-align: end;
  color: var(--darkneutral);
}

#menu li a {
  font-size: 1.1rem;
  color: var(--darkneutral);
  padding: 10px;
  font-weight: 600;
}

/* Styler menuen  */
/* ved transform og transition, så gør jeg at de flyver ind fra siden, hvor den så tager 
  udgangspunkt i top og left */
#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top right;
}

#menu a {
  text-decoration: none;
}
/* navigation ved hover i mobile  */

nav ul li::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: var(--accent1);
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 80%;
}

a {
  text-decoration: none;
  color: var(--hero1);
}

/*main bg*/

main {
  max-width: 100vw;
  background-color: var(--main_bg);
  background: url(images/bgmobile.png) repeat;
  background-position: 0px 0px;
  background-size: 100%;
  animation: animateBackgroundMobile 105s linear infinite;
}

/* landing */
#landing {
  display: flex;
  min-height: 90vh;
  gap: 2rem;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.landing_graphics {
  width: 20vw;
  height: 20vw;
  min-width: 300px;
  min-height: 300px;
  border-radius: 300px;
}
.landing_graphics:hover {
  transition: 3s;
  transform: scale(0.5);
}

#title_container {
  background-color: var(--header-color);
  padding: 2rem;
}

/*about section*/
#about_section {
  min-height: 90vh;
  padding: 1rem;
}

.content_grid {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  margin: 0.5rem;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(var(--hero2) 40%, var(--hero12) 70%);
  color: var(--text-color-light);
}

#about_section h2 {
  margin: 1rem;
}

.image_container {
  flex: 1 0 100px;
  margin: 1rem;
  padding: 4rem;
  border-radius: 200px;
  margin: 0 auto;
}

.image_container img {
  border-radius: 200px;
  background-color: var(--darkneutral);
  min-width: 10rem;
  max-width: 20rem;
}

.about_text {
  flex: 1 0 200px;
  margin: 1rem;
}

/*portfolio sectionnn*/
#portfolio_section {
  min-height: 90vh;
  padding: 8rem 0;
}
#portfolio_section h2 {
  margin-left: 2rem;
  color: var(--darkneutral);
}
#portfolio_cards {
  max-width: 100vw;
  overflow-x: clip;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
  background-color: var(--hero1);
}

.portfolio_card {
  text-align: center;
  min-height: 10rem;
  flex: 1 0 100%;
  box-sizing: border-box;
  padding: 3rem 1rem;
  background-color: var(--hero1);
  color: var(--lightneutral1);
  transition: 1s;
  border-radius: 5px;

  -webkit-box-shadow: 0 6px 6px 0 var(--shadows);
  -moz-box-shadow: 0 6px 6px 0 var(--shadows);
  box-shadow: 0 6px 6px 0 var(--shadows);
}

.portfolio_card:hover {
  background-color: var(--hero12);

  transform: scale(1.01);
  box-shadow: 0 1px 6px 6px #261b2763;
  z-index: 1;
}

.card_img {
  padding: 1rem;
  filter: opacity(80%);

  mix-blend-mode: hard-light;
}
.card_img:hover {
  filter: opacity(100%);
  mix-blend-mode: normal;
}

/*footer*/
footer {
  gap: 2rem;
  padding: 2rem;
  background-color: var(--hero2);
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer .myImage {
  height: 8rem;
  width: 8rem;
  background-image: url("images/me.png");
  background-size: cover;
  border-radius: 200px;
}

#myinfo p {
  color: var(--accent2);
  font-weight: 100;
}

@media (min-width: 650px) {

  #title_container {
    background-color: transparent;
    padding: 0;
  }

  .portfolio_card {
    flex: 1 0 50%;
  }
}

@media (min-width: 1200px) {
  main {
    background: url(images/bgtabdesk.png) repeat;
    background-position: 80px 0px;
    background-size: 100%;
    animation: animateBackground 95s linear infinite;
  }

  header {
    position: static;
    background-color: var(--header-color);
  }
  #menu li a {
    font-size: 1.2rem;
    color: var(--hero1);
    padding: 10px;
    font-weight: 400;
  }
  nav {
    position: static;
  }

  /* menuknap vises ikke når skærmen er større end 600px */
  #menuknap {
    display: none;
  }
  /*id'et menu har classen hidden, når skærmen er større en 600px, det vil sige at den ikke er
    usynling længere*/

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  /* Menuen ligger sig på linje i stor skærm */
  #menu li {
    margin-left: 1.2rem;
    display: inline-block;
  }

  /* Streg under tekst i navigation ved hover i desktop  */

  nav ul li::after {
    content: "";
    width: 0%;
    height: 0.2rem;
    background: var(--accent1);
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  nav ul li:hover::after {
    width: 100%;
  }

  /*landing*/

  #landing {
    padding: 2rem;
  }

  /*about section*/
  #about_section {
    padding: 4rem;
  }

  #about_section h2 {
    margin: 1rem 3rem;
  }

  .about_text {
    flex: 1 0 400px;
    margin: 1rem;
  }

  .content_grid {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 3rem;
    align-items: center;
    background-color: var(--hero2);
    color: var(--text-color-light);
    margin-top: 4rem;
  }

  .image_container {
    flex: 1 0 100px;
    margin: 1rem;
    padding: 4rem;
    border-radius: 200px;
  }

  .image_container img {
    border-radius: 200px;
    background-color: var(--darkneutral);
  }

  .portfolio_card {
    flex: 1 0 25%;
  }
}

@media (min-width: 1400px) {
#about_section {
  padding: 6rem;
}


}
/*animations*/
@keyframes animateBackground {
  0% {
    background-position: 80px 0px;
  }
  50% {
    background-position: 0px -5995px;
  }

  100% {
    background-position: 80px -11990px;
  }
}

@keyframes animateBackgroundMobile {
  0% {
    background-position: 16px 0px;
  }

  50% {
    background-position: -16px -6061px;
  }

  100% {
    background-position: 16px -12122px;
  }
}
